@font-face {
  font-family: "Gilroy-Bold";
  src: url("../public/fonts/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../public/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../public/fonts/Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
}

/* Home Page */

.demobutton {
  align-items: center;
  padding: 0.938rem 1.75rem;
  width: 11.188rem;
  height: 3.125rem;
  border: 1.5px solid #7c81e4 !important;
  border-radius: 0.688rem;
  background: white !important;
  color: #7c81e4 !important;
}

.logo {
  margin: 1.219rem 0 1.219rem 7.125rem;
}

.loginbutton {
  align-items: center;
  padding: 1rem 2.531rem;
  width: 7.688rem;
  height: 3.125rem;
  background: #7c81e4 !important;
  border-radius: 0.688rem;
  margin: 1rem 0 1rem 1.125rem;
  border: 1.5px solid #7c81e4 !important;
}

/* .topbar {
  display: flex;
  justify-content: space-between;
} */

.textbox {
  width: 40%;
}

.maincontent {
  display: flex;
  justify-content: flex-end;
}

.textbox h2 {
  font-family: "Gilroy-Bold";
  font-size: 2rem;
  line-height: 2.5rem;
  display: flex;
  align-items: center;

  color: #111019;
}

.secondparagraph {
  font-family: "Gilroy-SemiBold";
  font-size: 20px;
  line-height: 20px;
  /* or 155% */
  margin-right: 5.313rem;
  color: #535065;
}

.firstparagraph {
  font-family: "Gilroy-SemiBold";
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 142% */
  margin-bottom: 10px;
  color: #535065;
}

.textboxdiv {
  width: 70%;
  margin: 0 auto;
  margin-top: 7rem !important;
  margin-bottom: 4rem !important;
}

div#navbar-nav {
  justify-content: flex-end;
}

.bluediv {
  background-color: #7c81e4;
  width: 100%;
  /* height: 17rem; */
  height: 30%;
}

.divinsidebluediv {
  width: 55%;
  margin: 0 auto;
  padding: 2.188rem;
  text-align: center !important;
  color: white;
}

.divinsidebluediv p {
  font-family: "Gilroy-Medium";
  font-size: 1.375rem;
  line-height: 1.75rem;
  text-align: center;
  color: #ffffff;
}

.divinsidebluediv h5 {
  font-family: "Gilroy-SemiBold";
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
}

.whitediv h6 {
  font-family: "Gilroy-SemiBold";
  font-size: 17px;
  line-height: 20px;
  color: #878ce8;
}

.insidewhitediv {
  width: 70%;
  margin: 0 auto;
}

.insidewhitediv h2 {
  font-family: "Gilroy-SemiBold";
  font-size: 40px;
  line-height: 47px;
  color: #111019;
}

.insidewhitediv p {
  font-family: "Gilroy-Medium";
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.005em;
  color: #68657a;
}

p {
  margin-bottom: 0;
}

.secondbluediv {
  width: 100%;
  background: #7c81e4;
  text-align: center;
}

.insidesecondbluediv {
  width: 54%;
  text-align: center;
  margin: 0 auto;
  font-family: "Gilroy-SemiBold";
  font-size: 18px;
  line-height: 24px;
  /* or 133% */

  text-align: center;

  color: #ffffff;
}

.bottomdiv {
  width: 85%;
  margin: 0 auto;
}

.innerdiv {
  width: 300px;
  text-align: left;
}

.secondinnerdiv {
  margin-left: 15px;
  margin-top: 10px;
  font-family: "Gilroy-SemiBold";
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.footer {
  font-family: "Gilroy-SemiBold";
  font-size: 18px;
  line-height: 34px;
  color: #cacdf5;
  text-align: left;
  margin-left: 8%;
  background-color: #7c81e4 !important;
  position: inherit !important;
}

.whitedivleft img {
  width: 100%;
}

.whitedivright {
  width: 650px;
}

.whitedivleft {
  width: 650px;
}

.innerdiv img {
  width: 24%;
}

/* End Home page */

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* User Login, Admin Login, Signup */

.loginheadings {
  font-family: "Gilroy-SemiBold";
  font-size: 36px;
  line-height: 46px;
  letter-spacing: -0.02em;
  width: 60%;
}

.loginheadings h4 {
  font-family: "Gilroy-SemiBold";
  font-size: 28px;
  line-height: 46px;
  letter-spacing: -0.02em;
  color: #5f65ce;
}

.loginheadings h5 {
  font-family: "Gilroy-SemiBold";
  font-size: 28px;
  line-height: 46px;
  letter-spacing: -0.02em;
  color: black;
}

.loginforminnerdiv label.form-label {
  font-family: "Gilroy-SemiBold";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #272d37;
}

.loginforminnerdiv input {
  font-family: "Gilroy-Medium";
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  letter-spacing: -0.1px;
  color: #919ba7;
}

.logindiv {
  display: flex;
}

.loginimage img {
  width: 100%;
}

.loginlogo {
  text-align: left;
  width: 60%;
}

.columndiv {
  height: 60%;
}

.loginforminnerdiv button {
  width: 100%;
  padding: 10px 12px;
  gap: 6px;
  background: #7c81e4;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 10px;
  border: none;
}

.forgotpassword {
  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 22px;
  color: #5f65ce;
  text-decoration: none;
}

.loginleftdiv.d-flex.flex-column {
  gap: 50px;
}

.d-flex.flex-column.columndiv.justify-content-start.align-items-center {
  width: 100%;
}

.loginforminnerdiv.mt-3 {
  width: 100%;
}

.loginforminnerdiv form {
  margin: 0 auto;
  width: 60%;
}

.loginleftdiv.justify-content-start.col-lg-6.col-md-6.col-sm-12.col-xs-12.d-flex.align-items-center.flex-column {
  justify-content: flex-start;
}

.loginimage img {
  width: 75%;
  float: right;
}

.colordiv {
  width: 100%;
  height: 100vh;
  background-color: #7c81e4;
}

.loginsignupdiv {
  width: 60%;
  margin: 0 auto;
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 20px;
  color: #5f6369;
}

.loginsignupdiv a {
  text-decoration: none !important;
}

/* End of User login, Admin Login and Register */

/* Start of viewall */

.bloc-tabs {
  display: flex;
  margin-left: 6%;
  margin-top: 20px;
}
.tabs {
  padding: 5px;
  text-align: center;
  height: 24px;
  background: white;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  outline: none;
  margin: 0 30px;
  font-family: "Gilroy-SemiBold";
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #7e7e80;
}
.tabs:not(:last-child) {
}

.active-tabs {
  background: white;
  border-bottom: none;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #5f65ce !important;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 1px);
  height: 2px;
  background: #5f65ce;
}

button {
  border: none;
}
.content-tabs {
  flex-grow: 1;
}

.active-content {
  display: block !important;
}

.content.active-content {
  padding: 0;
}

.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}

.arrowimage {
  margin-right: 20px !important;
}

.dashboardmaintop {
  width: 75%;
  margin: 0 auto;
}

.createcontactbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px;
  gap: 6px;
  background: #5f65ce !important;
  border-radius: 10px;
  border: none !important;
}

.importbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15.5px 20px;
  gap: 6px;
  border: 1px solid #5f65ce !important;
  border-radius: 10px;
  background-color: #ffffff !important;
  color: #5f65ce !important;
  margin-right: 20px;
}

select.form-control.form-select {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;
  letter-spacing: 0.005em;

  color: #a0a0a0;
  margin-top: 20px;
}

.modal-footer {
  justify-content: center !important;
}

select.form-control.form-select {
  width: 80%;
  margin: 15px auto;
}

label.sc-beqWaB.ewqTBN {
  width: 80%;
  margin: 0 auto;
  height: 100px;
}

label.sc-beqWaB.ewqTBN {
  border: 2px dashed #5f65ce !important;
}

.importbuttonsecond button.btn.btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 35.5px;
  gap: 5px;
  background: #5f65ce;
  border-radius: 6px;
}
.tablediv {
  width: 100%;
}

.tablediv table {
  width: 60%;
  margin: 0 auto;
}

.tablediv table td {
  padding: 10px;
  align-items: center;
  vertical-align: middle;
}

.tablediv table td img {
  margin-right: 20px;
}

.booked {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 14px 13px 29px;
  margin: 10px;
  gap: 23px;
  background: #b8fcd8;
  border-radius: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "Gilroy-SemiBold";
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #05703c;
}

.notinterested {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 14px;
  gap: 5px;
  background: #fce8e8;
  border-radius: 40px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: "Gilroy-SemiBold";
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  color: #d91a1a;
  margin: 10px;
}
.circularbar {
  width: 40%;
  margin: 0 auto;
}

text.CircularProgressbar-text {
  font-size: 10px !important;
}

.leadstats {
  font-family: "Gilroy-Bold";
  font-size: 26px;
  line-height: 30px;
  text-transform: capitalize;

  color: #5f65ce;
}

.totalleads {
  font-family: "Gilroy-Bold";
  font-size: 1.125rem;
  line-height: 21px;
  /* identical to box height */

  text-align: center;

  color: #7c81e4;
}

.totalleadsvalue {
  font-family: "Gilroy-Bold";
  font-size: 2.25rem;
  line-height: 43px;
  text-align: center;

  color: #7c81e4;
}

.recentlyrecieved {
  font-family: "Gilroy-Bold";
  font-size: 26px;
  line-height: 30px;
  color: #5f65ce;
  width: 300px;
}

.tablefromdashboard table {
  width: 750px;
}

.tablefromdashboard table td {
  padding: 5px;
  align-items: center;
  vertical-align: middle;
}
.tablefromdashboard {
  overflow-x: auto !important;
  overflow-y: auto !important;
}

.d-flex.flex-column.flex-wrap .tablefromdashboard {
  overflow: auto;
}

.tablefromdashboard table td img {
  margin-right: 20px;
}

.selectlist select.form-control.form-select {
  width: 100%;
}

.createcontact {
  font-family: "Gilroy-Bold";
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;

  color: #5f65ce;
}

.modalform label.form-label {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: #1f2937;
}

.modalform input.form-control {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 21px 2px 0px;
  gap: 157px;
  background: #fcfdfe;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  color: #a0a0a0;
}

.modalform select.form-control.form-select {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 21px 2px 0px;
  gap: 157px;
  background: #fcfdfe;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  color: #a0a0a0;
}

.chooselist {
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: #1f2937;
}

.submitbutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 35.5px;
  gap: 5px;

  width: 111px;
  height: 41px;

  background: #5f65ce;
  border-radius: 6px;
}

.submitbutton button.btn.btn-primary {
  background: #5f65ce !important;
  border: none;
}

td,
th {
  text-align: center;
}

.tablediv {
  overflow-x: auto;
  overflow-y: auto;
}

.d-flex.flex-column.flex-wrap.tablefromdashboard {
  overflow: auto;
}

.d-flex.flex-wrap.justify-content-between.circularbarmaindiv {
  height: 260px;
}

.circularbardiv {
  height: 250px;
}

.anothertablediv {
  height: 250px;
}

.mt-4.row a {
  text-decoration: none;
}
